body,
html {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: black;
}
.dashboard,
.dashboard * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.Vanishingpoint {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/Vanishingpoint-01.svg);
  opacity: .5;
  display: none;
}
.backgroun div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.backgroun .bg {
  background-image: url(../images/bg.jpg);
}
.backgroun .bg_dark {
  background-image: url(../images/bg-dark.jpg);
}
.title {
  position: relative;
  width: 140%;
  margin-left: -20%;
}
.title img {
  width: 100%;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 120px;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.car {
  position: absolute;
  top: 45%;
  width: 130%;
  margin-left: -15%;
  z-index: 50;
  background-image: url(../images/car_0008_shadow.png);
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.car .car_dark {
  position: absolute;
  width: 100%;
}
.car .door {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.car .door .doorA {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.car .door .bright {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.car .right {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}
.car .brake_light {
  position: absolute;
  width: 100%;
  top: 0%;
  margin-top: 11%;
}
.car .headlight {
  position: absolute;
  width: 100%;
  top: 0%;
  margin-top: 15%;
}
.car .car_bright {
  position: relative;
  background-image: url(../images/car_0002_tires.png);
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.road {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
  -webkit-perspective: 500;
          perspective: 500;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}
.road .track {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(90deg) scale3d(0.25, 2, 0.5) translate3d(0px, 0%, -60px);
          transform: rotateX(90deg) scale3d(0.25, 2, 0.5) translate3d(0px, 0%, -60px);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  background-color: #fff;
}
.road .track:after {
  position: absolute;
  width: 100%;
  height: 180%;
  content: "";
  display: block;
  top: -100%;
  left: 0;
  /* Rectangle: */
  background-image: -webkit-linear-gradient(#e4eaee 49%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(#e4eaee 49%, rgba(255, 255, 255, 0) 100%);
}
.road .track_loop {
  width: 100%;
  height: 200%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(0px, 25%);
      -ms-transform: translate(0px, 25%);
          transform: translate(0px, 25%);
  background-image: url(../images/track.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.road .triangle div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../images/Triangle.png);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.road .triangle .triangle_3 {
  -webkit-transform: translate3d(0px, 0px, -1800px);
          transform: translate3d(0px, 0px, -1800px);
}
.road .triangle .triangle_2 {
  -webkit-transform: translate3d(0px, 0px, -300px);
          transform: translate3d(0px, 0px, -300px);
}
.road .triangle .triangle_1 {
  -webkit-transform: translate3d(0px, 0px, 300px);
          transform: translate3d(0px, 0px, 300px);
}
.dashboard {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5%;
  z-index: 999;
  display: none;
}
.dashboard .shell {
  width: 80%;
  margin-left: 10%;
  display: none;
}
.dashboard .dashboard_ui {
  width: 50%;
  position: absolute;
  left: 50%;
  margin-left: -25%;
  bottom: -10%;
}
.dashboard .speeded_up_ring {
  -webkit-transform: translate(0%, 0%) scale(0.8, 0.8);
      -ms-transform: translate(0%, 0%) scale(0.8, 0.8);
          transform: translate(0%, 0%) scale(0.8, 0.8);
}
.dashboard .ui_center {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.dashboard .ui_center li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  text-align: center;
}
.dashboard .ui_center li div {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.dashboard .speeded_up_bg {
  background-image: url(../images/dashboard_0001_speeded-up-bg.png);
}
.dashboard .accelerator {
  background-image: url(../images/dashboard_0000_accelerator.png);
}
.dashboard .outer_ring div {
  background-image: url(../images/dashboard_0008_outer_ring.png);
}
.dashboard .speed_1_scale {
  background-image: url(../images/dashboard_0007_speed-1-scale.png);
}
.dashboard .speed_1_pointer {
  background-image: url(../images/dashboard_0004_speed-1-pointer.png);
}
.dashboard .speed_2_scale {
  background-image: url(../images/dashboard_0006_speed-2-scale.png);
}
.dashboard .speed_2_pointer {
  background-image: url(../images/dashboard_0005_speed-2-pointer.png);
}
.dashboard .intter_ring div {
  background-image: url(../images/dashboard_0003_intter_ring.png);
}
.dashboard .button_text {
  padding-top: 59%;
  font-size: 20px;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.64);
}
.ui_bg {
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  bottom: 0;
  z-index: 3;
  /* Rectangle: */
  background-image: -webkit-linear-gradient(90deg, rgba(0, 23, 46, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(0deg, rgba(0, 23, 46, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
}
.score {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  width: 100%;
  z-index: 999;
  color: #FFF;
  text-align: center;
  top: 15%;
  left: 0;
  background-image: -webkit-radial-gradient(40% 200%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 92%);
  background-image: radial-gradient(40% 200%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 92%);
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  display: none;
}
.score .your_score {
  font-size: 42px;
  font-weight: bold;
  line-height: 42px;
  font-style: italic;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.82);
}
.score .your_time {
  margin-top: 0.3em;
}
.score .your_time span {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.82);
}
.gameover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10%;
  display: none;
  background-color: rgba(0, 0, 0, 0.44);
}
.gameover img {
  box-shadow: 0px 2px 13px rgba(17, 17, 17, 0.8);
  border-radius: 13px;
}
